<section class="educations">
	<h2 class="section-title">{{title}}</h2>
	{{#each this.items}}
		<div class="item">
			<header>
				<h3>{{title}}</h3>
				<h4>{{props.timeperiod}}</h4>
			</header>
			<div class="content">
				<p>{{props.description}}</p>
				{{#if props.image}}
					<img src="{{props.image}}">
				{{/if}}
			</div>
		</div>
	{{/each}}
</section>