<section class="skills">
	<header>
		<h2 class="section-title">{{title}}</h2>
	</header>
	{{#each this.items}}
		<div class="item">
			<h3>{{title}}</h3>
			<span class="grade">{{props.grade}}</span>
		</div>
	{{/each}}
</section>