section.educations
	.item
		display flex
		flex-direction column
		margin 0 0 .5rem 0

		header
			padding 0 0 .5rem 0
			h4
				color #888

		.content
			display flex
			flex-direction row
			align-items flex-start

			img
				flex 0 0 auto
				max-width 100px
				max-height 80px
				margin 0 0 0 .5rem